@inherits LayoutComponentBase
@using Blazored.LocalStorage;
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavigationManager

<style>
    .top-row {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .navbar-nav {
        display: flex;
        margin-left: auto;
    }
    .nav-link {
        padding: 0 10px;
    }
    .navbar-brand {
        font-size: 24px;
        padding-right: 20px;
    }
</style>

<div class="page">
    <main>
        <header>
            <div class="top-row navbar navbar-expand-lg navbar-light bg-light">
                <!-- Logo as NavLink on the left -->
                <NavLink class="navbar-brand" href="/">
                    Reserve Spot
                </NavLink>

                <!-- Navigation links -->
                <div class="navbar-nav">
                    <NavLink class="nav-link" href="properties">
                        Properties
                    </NavLink>
                    <NavLink class="nav-link" href="rental">
                        Property Rental
                    </NavLink>
                    @if (isLoggedIn)
                    {
                       <NavLink class="nav-link" href="" @onclick="Logout">Logout</NavLink>
                    }
                    else
                    {
                       <NavLink class="nav-link" href="login">Login</NavLink>
                    }
                </div>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isLoggedIn = false;

    protected override async Task OnInitializedAsync()
    {
        string token = await LocalStorage.GetItemAsStringAsync("authToken");
        if (!string.IsNullOrEmpty(token))
        {
            isLoggedIn = true;
        }
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}