@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject LocalStorageManager LocalStorageManager

<style>
    .top-row {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
    }
    .navbar-nav {
        display: flex;
        margin-left: auto;
    }
    .nav-link {
        padding: 0 10px;
    }
    .navbar-brand {
        font-size: 24px;
        padding-right: 20px;
    }
</style>

<div class="page">
    <main>
        <header>
            <div class="top-row navbar navbar-expand-lg navbar-light bg-light">
                <!-- Logo as NavLink on the left -->
                <NavLink class="navbar-brand" href="/">
                    Reserve Spot
                </NavLink>

                <!-- Navigation links -->
                <div class="navbar-nav">
                    <NavLink class="nav-link" href="properties">
                        Properties
                    </NavLink>
                    
                    @if (isLoggedIn)
                    {
                        <NavLink class="nav-link" href="rental">
                            Property Rental
                        </NavLink>
                        <NavLink class="nav-link" href="bookings">
                            Bookings
                        </NavLink>

                        @if (isAdmin)
                        {
                            <NavLink class="nav-link" href="user-management">
                                User management
                            </NavLink>
                        }

                        <NavLink class="nav-link" href="javascript:void(0);" @onclick="Logout">Logout</NavLink>
                    }
                    else
                    {
                       <NavLink class="nav-link" href="login">Login</NavLink>
                    }
                </div>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private bool isLoggedIn = false;
    private bool isAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        string token = await LocalStorageManager.GetAuthTokenAsync();
        isAdmin = await LocalStorageManager.GetIsAdmin();
        if (token != null)
        {
            isLoggedIn = true;
        } 
    }

    private async Task Logout()
    {
        isLoggedIn = false;
        await LocalStorageManager.ClearAll();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }
}